<div class="container">
    <h2>Estudos de caso</h2>
    @for (item of arrayExperiences(); track item;) {
        <details>
            <summary>
                <p>
                    <strong> {{ item.summary.strong }} </strong>
                    <!-- {{ item.summary.p }} posteriormente inserir datas neste campo -->
                </p>
            </summary>
            
            <article [innerHTML]="item.text"></article>
            <a [href]="item.link">Link GitHub</a>
        </details>
    }
</div>