:root {
    --primary: #2fbf71;
    --primary-010: #18a055;

    --secondary: #0072b1;
    --secondary-010: #025b8b;

    --blueBlack: #060611;
    --blueBlack-010: #0e0e2c;
    --blueBlack-020: #132B51;
    
    --white:#ffffff;
}